{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p>
            <button type="submit">Create Student</button>
        </p>
    </form>
{% endblock %}