{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <form>
        <p>Search students</p>
        {{ filter.form|crispy }}
        <br>
        <p>
            <button type="submit">Search</button>
        </p>
    </form>
    <br>
    <a href="{% url 'students:create_students' %}">Add new student</a>
    <br>

    {% include 'students/_students_list.html' with students=object_list %}

    {% include '_pagination.html' %}
{% endblock %}