    <table class="table table-striped">
        <tr>
            <th>First Name</th>
            <th class="text-red border-blue">Last Name</th>
            <th>Group</th>
            <th>Group Headman</th>
            <th class="text-red border-blue">Email</th>
            <th>INN</th>
            <th></th>
        </tr>

        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.first_name|capfirst }}</td>
                <td>{{ teacher.last_name|title }}</td>
                <td>
                    {% if teacher.group_id %}
                        <a href="{% url 'groups:group' id=teacher.group_id %}">
                            {{ teacher.group.name }}
                        </a>
                    {% else %}
                        <i>Empty</i>
                    {% endif %}
                </td>
                <td>
                    {% if teacher.group_id and teacher.group.headman_id %}
                        {{ teacher.group.headman.name }}
                    {% endif %}
                </td>
                <td>{{ teacher.email|title }}</td>
                <td>{{ teacher.inn }}</td>
                <td>
                    <a href="{% url 'teachers:update_teacher' id=teacher.id %}">✎</a>
                    <a href="{% url 'teachers:delete_teacher' id=teacher.id %}">🗑</a>
                </td>
            </tr>
        {% endfor %}
    </table>
