{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <p>
            <button type="submit" class="btn btn-primary">Create Teacher</button>
        </p>
    </form>
{% endblock %}