{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit teacher{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <p>
            <button type="button" class="btn btn-primary">Update Teacher</button>
        </p>
    </form>
{% endblock %}