{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <form>
        <p>Search teachers</p>
        {{ filter.form|crispy }}
        <br>
        <p>
            <button type="submit">Search</button>
        </p>
    </form>
    <br>
    <a href="{% url 'teachers:create_teacher' %}">Add new Teacher</a>
    <br>

    {% include 'teachers/_teachers_list.html' with teachers=object_list %}

    {% include '_pagination.html' %}
{% endblock %}