{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block main %}
    <h2>Sign in to your account</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p>
            <button type="submit">Sign In</button>
        </p>
    </form>
{% endblock %}