{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>
        {% block title %}LMS{% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <style type="text/css">
        h1 {
            text-align: center;
            color: red;
            font-size: 70px;
        }
        header {
            font-size: 24px;
        }
    </style>
</head>
<body>
    {% include '_header_menu.html' %}

    <div class="container">
        {% include '_messages.html' %}
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>

