{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="container-fluid d-flex p-0">
            <a class="navbar-brand" href="/">LMS</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'teachers:list_teachers' %}">Teachers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'students:list_students' %}">Students</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <div class="profile-image-avatar">
                            {% if user.profile.image %}
                                <img src="{{ user.profile.image.url }}" class="rounded-circle" alt="">
                            {% else %}
                                <img src="{% static 'images/default.png' %}" alt="">
                            {% endif %}
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:profile' %}">{{ user.username }}'s Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:logout' %}">Sign Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}">Sign In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>